altgraph==0.17.5
certifi==2026.7.22
charset-normalizer==3.4.9
idna==3.18
macholib==1.16.4
mss==10.2.0
numpy==2.5.1
opencv-python==5.0.0.93
packaging==26.2
pillow==12.3.0
pyinstaller==6.21.0
pyinstaller-hooks-contrib==2026.6
pytesseract==0.3.13
requests==2.34.2
setuptools==83.0.0
urllib3==2.7.0
